@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.woff);
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  src: url(../fonts/Montserrat-Italic.woff);
}
@font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url(../fonts/Montserrat-Bold.woff);
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: bold;
  src: url(../fonts/Montserrat-BoldItalic.woff);
}
