.page-template.page .landing-page {
  @apply mx-auto max-w-full mt-0 mb-12;

  .wp-block-columns {
    gap: 0;

    .wp-block-column:first-child {
      @apply border-r-orange border-r-10;
    }

    .wp-block-column:nth-child(2) {
      @apply pl-12 py-0;
    }
  }

  .landing-contact {
    .wp-block-cover {
      @apply h-full;
    }
  }

  .landing-mission {
    @apply border-t-lighter-blue border-t-10;
    .wp-block-column {
      @apply py-12;
      &:first-child {
        > * {
          @apply pr-12;
        }
      }
      &:nth-child(2) {
        > *:first-child {
          @apply pl-0 pt-12;
        }
      }
    }
  }

  .site-logo {
    max-width: 312px;
    @apply absolute top-4 right-16;
    background: radial-gradient(
      48.61% 29.33% at 45.5% 57.67%,
      rgba(0, 0, 0, 0.5) 61.46%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .address {
    @apply text-base mb-0;
  }

  .social {
    @apply bg-orange text-white mb-5 border-2 border-orange hover:border-dark-gray;
  }
}

.contact-form {
  @apply pb-6 text-lg;

  input[type="email"],
  textarea {
    @apply py-4 px-4 mt-4 w-full border-3 border-cold-gray focus:border-orange focus:outline-none;
  }

  textarea {
    @apply h-36 max-h-36 min-h-36;
  }

  label {
    @apply block mb-4;
  }

  form > p {
    @apply last-of-type:-mt-6;
  }

  input[type="submit"] {
    transition: all 0.4s ease-in-out;
    @apply bg-cold-gray text-white px-4 py-2 font-bold cursor-pointer w-full hover:bg-orange;
  }

  .wpcf7-not-valid-tip {
    @apply absolute bottom-1 left-4 text-bright-red;
  }

  .wpcf7-response-output {
    @apply hidden;
  }
}
